body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #cc0000;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.container {
    padding: 30px;
}

h1 {
    color: #cc0000;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #cc0000;
    color: white;
    border: none;
    cursor: pointer;
}

#search-input {
    display: block;
    width: 80%;
    max-width: 400px;
    padding: 12px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#club-list div {
    background: rgb(234, 208, 208);
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#activity-box {
    background: rgb(234, 208, 208);
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
